[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
async-asgi-testclient = "*"
async_generator = "*"
asyncmock = "*"
bandit = "*"
black = "==19.10b0"
coveralls = "*"
importlib-metadata = {version="*", markers="python_version<'3.8'"}
invoke = "*"
isort = "*"
pylint = "*"
pytest = "*"
pytest-asyncio = "*"
pytest-cov = "*"

[packages]
aiohttp = "*"
asyncache = "*"
atomicwrites = {version="*", sys_platform="== 'win32'"}  # indirect dep
cachetools = "*"
colorama = {version="*", sys_platform="== 'win32'"}  # indirect dep
dataclasses = {version="*", markers="python_version<'3.7'"}
fastapi = "*"
gunicorn = "*"
httptools = {version="*", sys_platform="!= 'win32'"}  # indirect dep
idna_ssl = {version="*", markers="python_version<'3.7'"}
python-dateutil = "*"
python-dotenv = "*"
requests = "*"
uvicorn = "*"
uvloop = {version="*", sys_platform="!= 'win32'"}  # indirect dep

[requires]
python_version = "3.8"

[scripts]
dev = "uvicorn app.main:APP --reload"
start = "uvicorn app.main:APP"
fmt = "invoke fmt"
sort = "invoke sort"
lint = "invoke lint"
test = "invoke test"
